.school-logo-text {
  position: relative;
  z-index: 20;
  margin: 0;
  font-size: 1.75rem;
  font-weight: 100;
}

.school-logo-text strong {
  font-weight: 400;
}

.school-logo-text a {
  color: #FFF;
  text-decoration: none;
}

.school-logo-text--alt-color a {
  color: #666;
}

.school-logo-text--alt-color a:hover {
    color: #0D3B66;
    text-decoration: underline;
  }