/* _variables.scss */

/* Body Text Styles */
$text-color: #333;
$base-font-size: 16px;
$base-font-family: "Roboto", sans-serif;
$base-font-weight: 400;
$base-line-height: 1.15;

/*Border in Notes*/
$border-note: 1px solid transparent;


/*Orange Color*/
$darkOrange: #E85538;


/* Grey Transparent */
$greyTransparent: rgba(114, 119, 124, 0.501968);


/* Alert Colors */
$red: #ff3232;
$blue: #3232ff;