.social-icons-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -8px;
}

.social-icons-list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0 8px;
}

.social-icons-list li a {
  display: block;
  text-align: center;
  color: #FFF;
  font-size: 1.25rem;
}

.social-icons-list li a:hover {
  opacity: .75;
}

.social-color-facebook {background-color: #4862a3}

.social-color-twitter {background-color: #55acee}

.social-color-youtube {background-color: #cc1e1f}

.social-color-linkedin {background-color: #0077b5}

.social-color-instagram {background-color: #d8226b}